/* Palette:

tints:
https://coolors.co/594ae3-7568e8-9086ec-aca5f1-c8c3f6-e3e1fa-ffffff

shades:
https://coolors.co/594ae3-4a3ebd-3b3197-2d2572-1e194c-0f0c26-000000
*/

/* -------------
// GENERAL
---------------- */

:root {
  font-size: 62.5%;

  /* TYPOGRAPHY */
  --ff-nunito: "Nunito", sans-serif;

  --fs-normal: 1.8rem;
  --fs-medium: 2.4rem;
  --fs-big: 3.6rem;
  --fs-huge: 6.4rem;

  --fw-normal: 400;
  --fw-bold: 600;
  --fw-bolder: 700;

  /* COLOR */
  --clr-main: #594ae3;

  --clr-main-tint01: #7568e8;
  --clr-main-tint02: #9086ec;
  --clr-main-tint03: #aca5f1;
  --clr-main-tint04: #c8c3f6;
  --clr-main-tint05: #e3e1fa;

  --clr-main-shade01: #4a3ebd;
  --clr-main-shade02: #3b3197;
  --clr-main-shade03: #2d2572;
  --clr-main-shade04: #1e194c;
  --clr-main-shade05: #0f0c26;

  --clr-gray: #212529;

  --clr-white: #fff;
  --clr-black: #000;

  /* WHITE SPACE */

  /* BORDER RADIUS */

  /* SHADOWS */
}

body {
  font-family: var(--ff-nunito);
  font-size: var(--fs-normal);
  background-color: var(--clr-white);
  color: var(--clr-gray);
}

/* -------------
// TYPOGRAPHY
---------------- */

h1,
h2 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-huge);
  line-height: 100%;
}

h2 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-normal);
}

.section-title {
  font-size: var(--fs-big);
  font-weight: var(--fw-normal);
  text-align: center;
}

.section-text-small {
  font-size: var(--fs-medium);
  font-weight: var(--fw-normal);
  text-align: center;
}

.testimonial-text {
  font-size: var(--fs-normal);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-weight: var(--fw-bolder);
}

/* -------------
// LAYOUT
---------------- */
.page-container {
  max-width: 120rem;
  margin: 0 auto;
}

header,
.header-main,
.header-left,
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

section,
footer {
  border: dashed red 1px;
  margin: 9.6rem 0;
}

footer {
}

/* -------------
// HEADER
---------------- */

.header-main {
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 20rem;
  object-fit: contain;
  padding: 1em;
}

nav ul {
  padding: 0;
}

nav ul li {
  padding-right: 2em;
}

/* -------------
// HERO
---------------- */

.hero-content {
  display: flex;
}

.hero-left-content,
.hero-right-content {
  width: 50%;
  /* max-width: 48rem; */
}

.hero-title {
  margin-bottom: 0.1em;
}

.hero-description {
  margin-bottom: 1em;
}

.hero-cta-wrapper {
  display: flex;
  justify-content: center;
}
.hero-cta-wrapper button {
  width: 50%;
  margin: 0.5em;
  padding: 0.5em;
}

.hero-bottom-content {
  display: flex;
  align-items: center;
}

.hero-bottom-content .icon {
  font-size: 3.8rem;
  color: var(--clr-main);
  padding: 0.3em;
}

.hero-image-wrapper {
  height: 100%;
}

/* -------------
// TESTIMONIALS
---------------- */

.user-img {
  width: 9rem;
}

.user-img img {
  border-radius: 50%;
}

.testimonial-carousel {
  position: relative;
  border: dashed red 1px;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  margin: 4.8em auto;
  width: 80%;
  max-width: 80rem;
}

.user-img-container {
  border: dashed lime 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
}

.user-img-container img {
  padding: 0.5em;
}

.company-logos-container {
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  width: 18rem;
}

/* -------------
// PRODUCT DEMO
---------------- */

.product-try-cta {
  display: block;
  margin: 0 auto;
}

.product-demo-img-wrapper {
  width: 80rem;
  margin: 0 auto;
}

/* -----------------
// PRODUCT OVERVIEW
--------------------*/
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-header {
  display: flex;
  justify-content: center;
}

.details-list {
  padding-inline-start: 1em;
}

.details-list li {
  list-style: square;
}

/* ------------
// LEARN MORE 
---------------*/
.learn-more-cards-wrapper {
  display: flex;
  justify-content: center;
}

.learn-more-card {
  border: solid 1px red;
}

.lm-card-img {
  width: 48rem;
}

/* ---------------
// GETTING STARTED
------------------ */

.getting-started-steps {
  display: flex;
}

.step-item {
  border: solid 1px red;
}

/* ---------------
// TOPIC LINKS
------------------ */
.topics-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.router-link {
  background-color: aliceblue;
  padding: 0.3em;
  margin: 0.3em;
}

/* ------------------
// GET STARTED FOOTER
--------------------- */

.get-started-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.get-started-col-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------
// RESOURCE FOOTER
--------------------- */

.footer-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col-1 {
  grid-column: 1;
}

.col-2-and-3 {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-4 {
  grid-column: 4;
}

/* -------------
// HELPERS
---------------- */

.flex {
  display: flex;
}

.center {
  justify-content: center;
}
