/* Palette:

tints:
https://coolors.co/594ae3-7568e8-9086ec-aca5f1-c8c3f6-e3e1fa-ffffff

shades:
https://coolors.co/594ae3-4a3ebd-3b3197-2d2572-1e194c-0f0c26-000000
*/

/* -----------------
// CUSTOM PROPERTIES
-------------------- */

:root {
  font-size: 62.5%;

  /* TYPOGRAPHY */
  --ff-quick-sand: "Quicksand", sans-serif;

  --fs-h1: 6.4rem;
  --fs-h2: 3.6rem;
  --fs-small: 1.3rem;
  --fs-desc: 1.8rem;
  --fs-test: 2.4rem;
  --fs-body: 1.6rem;

  --fw-normal: 500;
  --fw-bold: 600;
  --fw-bolder: 700;

  /* COLOR */
  --clr-primary: #594ae3;

  --clr-primary-tint01: #7568e8;
  --clr-primary-tint02: #9086ec;
  --clr-primary-tint03: #aca5f1;
  --clr-primary-tint04: #c8c3f6;
  --clr-primary-tint05: #e3e1fa;

  --clr-primary-shade01: #4a3ebd;
  --clr-primary-shade02: #3b3197;
  --clr-primary-shade03: #2d2572;
  --clr-primary-shade04: #1e194c;
  --clr-primary-shade05: #0f0c26;

  --clr-primary-overlay: hsla(246, 73%, 59%, 0.2);
  --clr-primary-trans: hsla(246, 73%, 59%, 0);

  --clr-gray: #212529;
  --clr-gray-light: #495057;

  --clr-white: #fff;
  --clr-black: #000;

  /* WHITE SPACE */

  /* BORDER RADIUS */
  --br-normal: 8px;
  --br-big: 18px;

  /* SHADOWS */
  --bs-normal: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* -------------
// GENERAL
---------------- */

body {
  font-family: var(--ff-quick-sand);
  font-size: var(--fs-body);
  background-color: var(--clr-white);
  color: var(--clr-gray);
}

img {
  display: block;
  max-width: 100%;
}

button,
a,
a:visited {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

a,
a:visited {
  color: var(--clr-gray);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--clr-primary);
}

button {
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  padding: 0.5em 1em;
  margin-right: 1em;
  border-radius: var(--br-big);
  background-color: unset;
  color: var(--clr-gray);
  border: unset;
}

button:hover,
button:active {
  background-color: var(--clr-primary-tint05);
}

button i {
  font-size: 1.6rem;
}

.btn-accent {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

.btn-accent:hover,
.btn-accent:active {
  background-color: var(--clr-primary-shade01);
}

nav a,
nav a:visited {
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--clr-primary-trans);
}

nav a:hover,
nav a:active {
  border-bottom: 2px solid var(--clr-primary);
}

li {
  list-style: none;
}

/* -------------
// TYPOGRAPHY
---------------- */

h1,
h2 {
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-h1);
  line-height: 100%;
  color: var(--clr-primary-shade02);
  padding-bottom: 0.3em;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  text-align: center;
}

.hero-description,
.section-text-small {
  font-size: var(--fs-desc);
  font-weight: var(--fw-normal);
  color: var(--clr-gray-light);
  margin-bottom: 2em;
}

.hero-description {
  text-align: left;
}

.section-text-small {
  text-align: center;
}

.testimonial-text {
  font-size: var(--fs-test);
}

/* -------------
// LAYOUT
---------------- */
.home-page-container,
.header-main {
  max-width: 120rem;
  margin: 0 auto;
}

header,
.header-main,
.header-left,
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

section,
footer {
  /* border: dashed red 1px; */
  padding: 0 7.2rem;
  margin: 12.8rem 0;
}

#page-hero {
  margin-top: 12.8rem;
}

/* -------------
// HEADER
---------------- */

header {
  box-shadow: var(--bs-normal);
}

.header-main {
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 18rem;
  object-fit: contain;
  padding: 1em 0;
}

nav {
  padding-top: 7px;
}

nav ul li {
  padding-right: 1.5em;
}

/* overlay */
.user-img::after,
.hero-image-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 100%;
}

/* -------------
// HERO
---------------- */

.hero-content {
  display: flex;
}

.hero-left-content {
  padding-right: 4.8em;
}

.hero-cta-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}
.hero-cta-wrapper button {
  padding: 0.8em 1em;
  width: 50%;
}

.hero-bottom-content {
  display: flex;
  align-items: center;
  padding: 0.8em 1.6em;
  border: solid 1px var(--clr-primary-tint05);
  border-radius: var(--br-normal);
  color: var(--clr-primary-shade01);
  font-weight: var(--fw-bold);
  box-shadow: var(--bs-normal);
}

.hero-bottom-content .icon {
  font-size: 3.8rem;
  color: var(--clr-primary);
  margin-right: 0.5em;
}

.hero-image-wrapper {
  position: relative;
  border-radius: var(--br-big);
  box-shadow: var(--bs-normal);
  overflow: hidden;
  height: 100%;
}

.hero-image-wrapper:before {
  background-color: var(--clr-primary-overlay);
}

.hero-image-wrapper img {
  height: 100%;
  object-fit: cover;
}

/* -------------
// TESTIMONIALS
---------------- */

.testimonial-carousel {
  position: relative;
  background-color: var(--clr-primary-tint05);
  border-radius: var(--br-big);
  padding: 4.8rem 4.8rem 9.6rem 4.8rem;
  margin: 4.8em auto;
  max-width: 85rem;
  margin-bottom: 10em;
}

.user-img-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.user-img-container img {
  border: solid 3px var(--clr-primary-tint02);
  cursor: pointer;
}

.user-img {
  width: 7rem;
  position: relative;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.user-img::after {
  background-color: var(--clr-primary);
  opacity: 0.4;
  transition: all 0.2 ease-out;
  border-radius: 50%;
}

.user-img:hover {
  transform: scale(1.1);
}

.user-img img {
  border-radius: 50%;
}

.user-img--active {
  transform: scale(1.3);
  pointer-events: none;
}

.user-img--active::after {
  opacity: 0;
}

.user-info {
  position: absolute;
  left: 75%;
  top: 70%;
  opacity: 0;
  transform: scale(0);
  transition: 0.4s all ease-out;
}

.user-info--active {
  transform: scale(1);
  opacity: 1;
}

.user-name,
.user-job {
  line-height: 1em;
}

.user-name {
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
}

.user-job {
  font-size: var(--fs-small);
}

.testimonial-text {
  position: relative;
  height: 10rem;
}

.testimonial-text p {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: 0.4s all ease-out;
}

.testimonial-text-p--active {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.company-logos-container {
  display: flex;
  justify-content: center;
}

.logo-wrapper {
  width: 18rem;
}

/* -------------
// PRODUCT DEMO
---------------- */

.product-try-cta {
  display: block;
  font-size: 2.4rem;
  margin: 0 auto;
}

.product-demo-img-wrapper {
  width: 80rem;
  margin: 0 auto;
}

/* -----------------
// PRODUCT OVERVIEW
--------------------*/
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-header {
  display: flex;
  justify-content: center;
}

.details-list {
  padding-inline-start: 1em;
}

.details-list li {
  list-style: square;
}

/* ------------
// LEARN MORE 
---------------*/
.learn-more-cards-wrapper {
  display: flex;
  justify-content: center;
}

.learn-more-card {
}

.lm-card-img {
  width: 48rem;
}

/* ---------------
// GETTING STARTED
------------------ */

.getting-started-steps {
  display: flex;
}

.step-item {
}

/* ---------------
// TOPIC LINKS
------------------ */
.topics-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.router-link {
  background-color: aliceblue;
  padding: 0.3em;
  margin: 0.3em;
}

/* ------------------
// GET STARTED FOOTER
--------------------- */

.get-started-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.get-started-col-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------
// RESOURCE FOOTER
--------------------- */

.footer-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.col-1 {
  grid-column: 1;
}

.col-2-and-3 {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-4 {
  grid-column: 4;
}

/* -------------
// HELPERS
---------------- */

.flex {
  display: flex;
}

.center {
  justify-content: center;
}
